/* 
===============
Product by name
-===============
*/
.search-products-section {
  height: 100%;
}
.search-products-center {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.search-products-center .filter-toggle {
  display: flex;
  align-items: center;
  justify-content: end;
  color: var(--primary-700);
  padding: 1rem 0;
}
.search-products-center .filter-toggle-group {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
}

.search-products-center .filter-toggle .icon {
  font-size: 1.5rem;
}
.search-products-center .filter-container {
  max-height: 0;
  overflow: hidden;
  transition: var(--transition);
  margin-bottom: 2rem;
}
.search-products-center .show-filter-container {
  max-height: 2000px;
}
.search-products-center .filter-container .filter-heading {
  font-weight: 900;
  padding: 1rem 0;
  margin-top: 2rem;
  margin-left: 0;
}
.search-products-center .filter-container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.search-products-center .filter-container ul li {
  background-color: var(--grey-200);
  border-radius: var(--borderRadiusLarge);
  padding: 0.5rem 1rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}
.search-products-center .filter-container ul li[data-selected="true"] {
  background-color: var(--primary-500);
  color: var(--white);
}
/* Product styling */
.search-products-center .search-products {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  gap: 1rem;
}
.search-products-center .search-products li {
  background-color: var(--white);
  box-shadow: var(--shadow-3);
}
.search-products-center .search-product-info {
  border-top: 1px solid var(--black);
  padding: 0.5rem;
}
.search-products-center .search-product-info .price {
  margin-top: 1rem;
  color: var(--grey-900);
  font-size: 1rem;
}
.search-products-center .search-products .search-product-image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 17rem;
  display: grid;
  place-items: center;
}
.search-products-center .MuiPagination-root {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust margin-top as needed */
  box-shadow: none;
}
.search-products-center .filter-by-price-range {
  margin-bottom: 2rem;
  width: 500px;
}

.search-products-center .filter-by-price-range {
  padding-left: 1rem;
}
.search-products-center .filter-apply-btn {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}
.search-products-center .filter-apply-btn .reset-btn {
  background-color: var(--primary-900);
}
