.account-password .account-password-center form {
  margin-top: 3rem;
  padding: 0 2rem;
}

.account-password .account-password-center form {
  display: flex;
  flex-direction: column;
}
.account-password .account-password-center .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 2rem;
}
.account-password .account-password-center .form-group label {
  text-transform: capitalize;
}
.account-password .account-password-center .form-group input {
  width: 100%;
  padding: 1rem 0.9rem;
  border-radius: var(--borderRadiusMedium);
  border: 1px solid var(--grey-300);
  background-color: var(--backgroundColor);
  outline: none;
}
.account-password .account-center .form-group input::placeholder {
  color: var(--grey-1000);
}
.account-password .account-password-center .form-btn {
  display: flex;
  justify-content: end;
}
