{% extends 'mail_senter/order_base.html' %} {% block heading %}

<h1>Order Received</h1>

{% endblock %} {% block description %}

<p>Dear Customer,</p>

<p>
  Thank you for choosing KL Electronics. We appreciate your order and are
  delighted to confirm its receipt. Your order is now in the process of being
  prepared for shipment. We will keep you updated on the status of your order as
  it progresses. Should you have any questions or require further assistance,
  our dedicated customer support team is here to assist you.
</p>

{% endblock %}
